aiohttp==3.7.4
aiohttp-middlewares==1.2.0

Werkzeug==2.2.2
flask-cors==3.0.10  # Optional, kannst du ggf. entfernen, wenn Flask nicht mehr genutzt wird

botbuilder-core==4.14.1
botbuilder-schema==4.14.1
botbuilder-dialogs==4.14.1
botbuilder-ai==4.14.1

msrest==0.6.10
